/* Sidebar base */
.sidebar {
    min-height: max-content;
    width: 240px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.sidebar.collapsed {
    width: 100px;
    padding: 0;
    min-height: max-content;
}

.sidebar h4 {
  color: #f8f9fa;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
  color: #ddd !important;
  margin: 8px 0;
  width: 100%;
}


.sidebar-item:hover {
  background-color: #495057;
  border-radius: 6px;
  color: #fff !important;
  transition: 0.3s;
}


/* Espaçamento do conteúdo principal */
@media (min-width: 992px) {
    .sidebar.collapsed {
        width: 100px;
        padding: 0;
    }
}
